/* Add CSS Styling */

/*
div p {
	background-color: #ffff00;
	color: #ff0000;
	font-size: 20px;
	text-align: center;
}
*/

.container .text {
	background-color: rgb(255, 255, 0);
	color: rgb(255, 0, 0);
	font-size: 20px;
	text-align: center;
}
